@CHARSET "UTF-8";
/*
Author: Adrian Mato
Author URI: http://www.yensdesign.com & http://web.ontuts.com
*/





/******* MENU *******/
#menu{
	display: none;
	width: 165px;
	padding: 6px;
	background: #fff;
	border: 1px solid #171717;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	position: absolute;
	z-index: 999;
}
#menu p{
  font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #6d6d6d;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#menu ul{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #6d6d6d;
	background: #fff;
	border: 1px solid #171717;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#menu ul li{
	line-height: 1.5em;
	padding: 5px 5px 5px 25px;
	font-size: 11px;
	border-bottom: 1px solid #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#menu ul li:hover{
	background-color: #fff8cc;
	border-bottom: 1px solid #ffe222;
	color: #000;
	cursor: pointer;
}
#menu ul li a{
	color: #6d6d6d;
	display: block;
}
#menu ul li.disabled, #menu ul li.disabled a{
	color: #bbbbbb;
	cursor: default;
}
#menu ul li.disabled:hover{
	background: #fff;
	border-bottom: 1px solid #fff;
    background-repeat: no-repeat;
}
#menu ul li{
	background-position: 3px 6px;
	background-repeat: no-repeat;
}
#menu ul li#menu_editar{
	background-image: url(../img/editar.png);
}
#menu ul li#menu_recargar{
	background-image: url(../img/refresh.png);
}
#menu ul li#menu_web{
	background-position: 3px 5px;
	background-image: url(../img/web.png);
}
#menu ul li#menu_favoritos{
	background-image: url(../img/fav.png);
}
#menu ul li#menu_eliminar{
	background-image: url(../img/trash.png);
}
#menu ul li#remover_historico{
	background-image: url(../img/historico.png);
}
/******* /MENU *******/