<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--DESARROLLO-->
    <add key="PEAJES" value="Data Source=10.0.1.120;Initial Catalog=dbPeajes;User Id=Pbachmann;Password=Pbachmann,2019;Connect Timeout=660"/>
    <add key="MONITOR_INT" value="Data Source=10.0.1.120;Initial Catalog=MONITOR;User Id=Pbachmann;Password=Pbachmann,2019;Connect Timeout=660"/>
    <add key="MONITOR_TRA" value="Data Source=10.0.1.120\DESATRACK,1435;Initial Catalog=MONITOR;User Id=Pbachmann;Password=Pbachmann,2019;Connect Timeout=660"/>
    <add key="244" value="Data Source=10.0.2.244;Initial Catalog=Track2;User Id=DESEXTJUABLA00;Password=GPS2021DESEXTJUABLA00QAT3;Connect Timeout=660"/>
    <!--add key="MIG_ORIGEN" value="Data Source=10.0.2.2;Initial Catalog=MONITOR;User Id=usuarioweb;Password=Tracy2026;Connect Timeout=660"/-->
    <add key="MIG_ORIGEN" value="Data Source=10.0.1.120\DESATRACK,1435;Initial Catalog=MONITOR;User Id=Pbachmann;Password=Pbachmann,2019;Connect Timeout=660"/>
    <!--add key="MIG_DESTINO" value="Data Source=10.0.1.57;Initial Catalog=Track;User Id=SERGENSERAPP00;Password=SERG3NGPSCH3L22019;Connect Timeout=660"/-->
    <add key="MIG_DESTINO" value="Data Source=10.0.2.244;Initial Catalog=Track;User Id=DESEXTJUABLA00;Password=GPS2021DESEXTJUABLA00QAT3;Connect Timeout=660"/>
    
    <!--PRODUCCION-->
    <!--<add key="PEAJES" value="Data Source=10.0.1.2;Initial Catalog=dbPeajes;User Id=usuarioweb;Password=Tracy2026;Connect Timeout=660"/>-->
    <!--<add key="MONITOR_INT" value="Data Source=10.0.1.2;Initial Catalog=MONITOR;User Id=usuarioweb;Password=Tracy2026;Connect Timeout=660"/>
    <add key="MONITOR_TRA" value="Data Source=10.0.2.2;Initial Catalog=MONITOR;User Id=usuarioweb;Password=Tracy2026;Connect Timeout=660"/>-->
    <add key="WebReference.WS_SitioCoordenada" value="http://10.0.2.17:8080/WS_SitioCoordenada.asmx"/>
    <add key="IdClientePeajes" value="795888705"/>
    <add key="Url_SitioCoordenada" value="http://10.0.2.17:8080/WS_SitioCoordenada.asmx/WM_SitioCoordenada"/>
    <add key="SetTimeOut" value="3000"/>
    <add key="llaveAutorizacion" value="04082011"/>
    <add key="NGDDSCLIENTUSERNAME" value="gpschilemapuser"/>
    <add key="NGDDSCLIENTPASSWORD" value="94049002839"/>
    <add key="NGDDSMAPSERVER" value="http://190.216.146.42/openls/openls"/>
    <add key="rutaXSL" value="xsl/"/>
    <add key="DDSCLIENTUSERNAME" value="gpschilemapuser"/>
    <add key="DDSCLIENTPASSWORD" value="94049002839"/>
    <add key="DDSMAPSERVER" value="http://190.216.146.42/openls/openls"/>
    <add key="MONITOR" value="Data Source=10.0.1.2;Initial Catalog=MONITOR;User Id=usuarioweb;Password=Tracy2026;Connect Timeout=660"/>
    <add key="DATOSCLIENTE" value="Data Source=10.0.1.2;Initial Catalog=DATOSCLIENTE;User Id=usuarioweb;Password=Tracy2026;Connect Timeout=660"/>
    <add key="PruebaAlertas" value="Data Source=10.0.1.234\integracion;Initial Catalog=ALERTA;User Id=desarrollo;Password=desarrollo"/>
    <add key="PUNTOSDEINTERES" value="Data Source=10.0.1.234\integracion;Initial Catalog=PUNTOSDEINTERES;User Id=desarrollo;Password=desarrollo"/>
    <add key="CORPORATIVO" value="Data Source=10.0.1.2;Initial Catalog=CORPORATIVO;User Id=usuarioweb;Password=Tracy2026"/>
    <add key="Alerta" value="Data Source=10.0.1.234\integracion;Initial Catalog=ALERTA;User Id=desarrollo;Password=desarrollo"/>
    <add key="Orden" value="Data Source=10.0.1.234\integracion;Initial Catalog=ORDEN;User Id=desarrollo;Password=desarrollo"/>
    <add key="Reporte" value="Data Source=10.0.1.234\integracion;Initial Catalog=REPORTE;User Id=desarrollo;Password=desarrollo"/>
    <add key="PLANIFICACION" value="Data Source=10.0.1.234\integracion;Initial Catalog=PLANIFICACION;User Id=desarrollo;Password=desarrollo"/>
    <add key="DevPolla" value="Data Source=10.0.1.234\integracion;Initial Catalog=POLLA;User Id=desarrollo;Password=desarrollo"/>
    <add key="DevFormulario" value="Data Source=10.0.1.234\integracion;Initial Catalog=Formulario;User Id=desarrollo;Password=desarrollo"/>
    <add key="MANTENCION" value="Data Source=10.0.1.234\integracion;Initial Catalog=MANTENCION;User Id=desarrollo;Password=desarrollo"/>
    <add key="CONDUCCION" value="Data Source=10.0.1.234\integracion;Initial Catalog=CONDUCCION;User Id=desarrollo;Password=desarrollo"/>
    <add key="DevMonitor" value="Data Source=10.0.1.234\integracion;Initial Catalog=WSGEOCODING;User Id=desarrollo;Password=desarrollo"/>
    <add key="Readymix" value="Data Source=AVLPRO;Initial Catalog=READYMIX2PROD;User Id=desarrollo;Password=desarrollo"/>
    <add key="PERIFERICO" value="Data Source=10.0.1.234\integracion;Initial Catalog=PERIFERICO;User Id=desarrollo;Password=desarrollo; Connect Timeout=160"/>
    <add key="LocationSugerencia.sugerencia" value="http://ws.gpschile.com/sugerencia/sugerencia.asmx"/>
    <add key="geocoding.location" value="http://ws.gpschile.com/geocoding/location.asmx"/>
    <add key="DirDocAdjunto" value="C:\Inetpub\gpschile.com.online\Files"/>
    <add key="ReportServerURL" value="http://10.0.1.20/reportserver"/>
    <add key="programacionDespacho.ws.WS_DESPACHO" value="http://ws.gpschile.com/WS_DESPACHO/WS_DESPACHO.asmx"/>
    <add key="WSGPS_CL.WSGPS_CL" value="http://avlpro.gpschile.com/WS_PASO_CONSULTACLIENTE/"/>
    <add key="llaveAutorizacion" value="04082011"/>
    <add key="FotosConductores" value="Archivos\\FotosConductores"/>
    <add key="FirmasConductores" value="Archivos\\FirmasConductores"/>
    <add key="ArchivosClientes" value="Archivos\\ArchivosClientes"/>
    <add key="UploadProgramacionDespacho" value="programacionDespacho//Upload"/>
    <add key="DASHBOARD" value="Data Source=10.0.1.234\integracion;Initial Catalog=DASHBOARD;User Id=desarrollo;Password=desarrollo"/>
    <add key="DashboardUrl" value="http://panelonline.gpschile.com/Generic"/>
    <add key="MONITOR_SQL1" value="Data Source=10.0.1.234\integracion;Initial Catalog=MONITOR;User Id=desarrollo;Password=desarrollo;Connect Timeout=120"/>
    <add key="Reenvio" value="Data Source=10.0.1.234\integracion;Initial Catalog=Reenvio;User Id=desarrollo;Password=desarrollo"/>
    <add key="SeparacionTramaCango" value="\n"/>
  </appSettings>
  <connectionStrings>
    <add name="MonitorConnectionString" connectionString="Data Source=10.0.1.234\integracion;Initial Catalog=MONITOR;User ID=sa;Password=thunderbirdgps" providerName="System.Data.SqlClient"/>
    <add name="READYMIX2PRODConnectionString" connectionString="Data Source=AVLPRO;Initial Catalog=READYMIX2PROD;Persist Security Info=True;User ID=sa;Password=thunderbirdgps" providerName="System.Data.SqlClient"/>
    <add name="MANTENCION" connectionString="Data Source=10.0.1.234\integracion;Initial Catalog=MANTENCION;User Id=desarrollo;Password=desarrollo" providerName="System.Data.SqlClient"/>
    <!--Migración Track2 Desarrollo-->
    <add name="MIGRACIONTR2" connectionString="Data Source=10.0.1.120\integracion;Initial Catalog=MONITOR;User Id=DESEXTJUABLA00;Password=GPS2021DESEXTJUABLA00DES" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="highchart" namespace="Highchart.UI" assembly="Highchart"/>
        <add tagPrefix="o" namespace="Omu.AwesomeWebForms" assembly="Omu.AwesomeWebForms"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="Infragistics2.WebUI.UltraWebGrid.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.Shared.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.Misc.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebTab.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebDataInput.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebDateChooser.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebSchedule.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebGrid.DocumentExport.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.Documents.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.Excel.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <!--<sessionState timeout="7200" cookieless="AutoDetect" regenerateExpiredSessionId="true" />-->
    <sessionState cookieless="AutoDetect" mode="InProc" timeout="3000" useHostingIdentity="true"/>
    <machineKey decryptionKey="F9CD5DB068D1B9638A0EE975BB85B90F1D7D519FC98C6B5B,IsolateApps" validationKey="838185BD8A6266C7648F1F76A1050A44333B3F68B9AF537389D298131C50DB2C2DE1ADA126B7D1089EF76E60171FAB604F4F520C5A4CD4D58CFB43845BC057B1,IsolateApps"/>
  </system.web>
  <!-- JSON -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="70000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="frmBrwLogin.aspx"/>
        <add value="frmBrwAcoplado.aspx"/>
        <add value="frmBrwAcopladoMonitor.aspx"/>
        <add value="frmBrwAdmin_SitioNoAutorizado.aspx"/>
        <add value="frmBrwAdminSites.aspx"/>
        <add value="frmBrwAlerta.aspx"/>
        <add value="frmBrwExcel.aspx"/>
        <add value="frmBrwFullScreen.aspx"/>
        <add value="frmBrwMapa.aspx"/>
        <add value="frmBrwAsignacion.aspx"/>
        <add value="frmBrwAvlWeb.aspx"/>
        <add value="frmBrwCombustible.aspx"/>
        <add value="frmBrwConduccion.aspx"/>
        <add value="frmBrwConfiguracionAlertas.aspx"/>
        <add value="frmBrwConfiguracionMantencion.aspx"/>
        <add value="frmBrwDespacho.aspx"/>
        <add value="frmBrwDetallePersonal.aspx"/>
        <add value="frmBrwEstadoOrden.aspx"/>
        <add value="frmBrwEstadoPersonal.aspx"/>
        <add value="frmBrwFormulario.aspx"/>
        <add value="frmBrwIngresoDatosPersonalCliente.aspx"/>
        <add value="frmBrwIngresoOrdenServicio.aspx"/>
        <add value="frmBrwMarcaciones.aspx"/>
        <add value="frmBrwReportes.aspx"/>
        <add value="frmBrwReportesConduccion.aspx"/>
        <add value="frmBrwTemperatura.aspx"/>
        <add value="frmBrwVisorMantencion.aspx"/>
        <add value="frmBrwVisualizacionUnidades.aspx"/>
        <add value="frmBrwWelcome.aspx"/>
        <add value="frmBrwZonaControl.aspx"/>
        <add value="frmCambioFlota.aspx"/>
        <add value="frmEdiCambioClave.aspx"/>
        <add value="frmEdiMobile.aspx"/>
        <add value="Transmision.aspx"/>
        <add value="programacionDespacho.aspx"/>
        <add value="DespachoDelfos.aspx"/>
        <add value="ProgramacionCorreoAlerta.aspx"/>
        <add value="MapaReporte.aspx"/>
        <add value="frmBasicInfo.aspx"/>
        <add value="frmDashboard.aspx"/>
        <add value="frmBrwAlertaBosch.aspx"/>
        <add value="frmBrwRutaGM.aspx"/>
        <add value="iisstart.htm"/>
        <add value="index.html"/>
        <add value="index.htm"/>
        <add value="Default.htm"/>
        <add value="default.asp"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
    <httpRedirect enabled="false" destination=""/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="InformacionSmmAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="InformacionSmm">
        <endpoint address="" behaviorConfiguration="InformacionSmmAspNetAjaxBehavior" binding="webHttpBinding" contract="InformacionSmm"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>